body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#mapInset {
    bottom: 50px;
    right: 30px;
    height: 180px;
    width: 250px;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    border: 1px solid rgb(100, 100, 100);
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#bookmarks {
    margin: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: rgba(14, 17, 22, 1);
}

#bookmarks p {
    padding: 1vh;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

#header {
    margin: 2vh auto;
    width:45vw;
    padding: 2vh;
    position: relative;
    z-index: 5;
    text-align: center;
    background-color: rgba(14,17,22,0.75); 
    border-radius: 25px;
}

#header h1,
#header h2,
#header p {
    margin: 0;
    padding: 1vh 1vw;
    text-align: center;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}

#footer p {
    padding: 0 10rem;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.fab,
.fas {
    font-size: 15px;
    margin: 10px 10px 0 0;
    color: #fff;
    text-decoration: none;
}


.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 20vw; /* Reduced from 33vw */
    margin-left: 5vw;
}

.righty {
    width: 20vw; /* Reduced from 33vw */
    margin-left: 75vw; /* Adjusted to maintain alignment */
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #444;
    background-color: #fafafa;
}

.dark {
    color: #fafafa;
    background-color: #444;
}

.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
    border-radius: 25px;
}

.step h3 {
    font-size: 2em;
    line-height: 1.3em;
}

.step p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.step div a {
    color: #ffffff;
}

.step img {
    width: 100%;
}

#rotate-mobile {
    display: none;
}

.legend {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #444;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    font-family: 'Montserrat', Helvetica, sans-serif;
    padding: 10px;
    display: none;
    z-index: 1;
    max-width: 350px;
}

.legend img {
    width: 25px;
    margin-right: 10px;
}

.legend h3 {
    margin: 0 0 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.legend div {
    vertical-align: center;
}

.legend div #block {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin-right: 5px;
}

.legend div #text {
    vertical-align: top;
}

.maplibregl-ctrl {
    margin-right: 30px !important;
}

.maplibregl-popup {
    font: 12px/20px 'Montserrat', Helvetica, sans-serif;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }

    #bookmarks {
        display: none;
    }

    #header {
        width: 80vw;
    }

    #header img {
        width: 80vw;
    }

    #header h1 {
        font-family: 'Roboto', 'Open Sans', 'Verdana', sans-serif;
        font-size: 1.9rem;
        text-transform: uppercase;
    }

    .lefty {
        width: 90%;
    }

    .step div {
        padding: 5px 15px;
    }

    .step div h3 {
        font-family: 'Lora', 'Georgia', serif;
        font-size: 1.5rem;
        font-weight: 1000;
    }

    #footer p {
        padding: 0;
    }

    #rotate-mobile {
        display: inline-block;
        margin-top: 25px;
    }

     .centered,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }

    .lefty,
    .righty {
        width: 80%; /* Adjusted for smaller screens */
        margin: 0 auto; /* Centered for better alignment on mobile */
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
    touch-action: unset;
}
